// typography
$font-family: 'Helvetica', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-family-monospace: monospace;

$base-font-weight: 150;
$bold-font-weight: 450;


// typographic scale based largely on https://devinhunt.github.io/typebase.css/
$base-font-size: 12; // in pixels. This would result in 22px on desktop
$base-line-height: 1.85; // how large the line height is as a multiple of font size
$leading: $base-line-height * 1rem;
$scale: 1.125; // Rate of growth for headings, see https://zurb.com/word/modular-scale
$font-large: $scale*1.15rem;
$font-small: $scale*0.85rem;




// colors
$bg-color: #ffffff;
$text-color: hsl(0, 0%, 7%);
$brand-primary: #FF8C00;

$gray: #36A4FD;
$gray-light: lighten($gray, 70%);
$gray-dark: darken($gray, 55%);


// container sizing
$container: 960px;
$container-large: 1200px;
$container-small: 680px;

// media queries
$large-screen: 740px;
