.header {
  padding-top: $leading;
  font-size: $font-large;
}
// logo
.header-logo a {
  color: $text-color;
}


// navigation
.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav li {
  display: inline-block;
  margin-right: 1rem;
}

.nav li:last-of-type {
  margin-right: 1;
}

.nav a {
  color: $gray;
}

.nav .active {
  color: $text-color;
  border-bottom: 1px solid $brand-primary;
}



// layout on larger screens
@include mq($large-screen) {
  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .header-logo {
    width: 25%;
  }

  .header-menu {
    width: 75%;
    text-align: right;
  }
}
