---
layout: default
---

<div class="container-small">

  <h1 class="text-center">framing</h1>

  <div class="content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-list-center">
    {% for framing in site.framing %}
    <article>
      <h2 class="post-title"><a href="{{ framing.url | relative_url }}">{{ framing.title }}</a></h2>
      <div class="post-period">{{ framing.period }}</div>
    </article>
    {% endfor %}
  </div>



</div>
