---
layout: default
---

<div class="container-small">

  <h1 class="text-center">making</h1>

  <div class="content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-list-center">
    {% for making in site.making %}
    <article>
      <h2 class="post-title"><a href="{{ making.url | relative_url }}">{{ making.title }}</a></h2>
      <div class="post-period">{{ making.period }}</div>
    </article>
    {% endfor %}
  </div>



</div>
